body {
    /* background-color: burlywood; */
    height: 100vh;
    width: 100vw;

    /* background-image: linear-gradient(purple, orange, yellow); */
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

    text-align: center;
}

/* .box{
} */
#list {
    list-style: decimal;
}
button{
    border-radius: 50px;
    background-color: brown;
    color: white;
}
input{
    margin-top: 20px;
    width: 300px;
    border-radius: 50px;
    background-color: brown;
    color: white;
}